.box-home{
    height: 100%;
    width: 100%;
 }
 
 
 .box-container-home {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
 }
 
 
 .card-home {
    padding: 0.5rem;
 }
 